/*All*/
*{
    margin: 0;
}

/*Header*/
header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 69px;
    border: 4px solid #1AD9A3;
    box-sizing: border-box;
}

#logo{
    width: 54px;
    height: 52px;
    margin-left: 76px;
    float: left;
}

#user{
    width: 50px;
    height: 51px;
    left: 1552px;
    margin-right: 76px;   
    float: right;
    top: 9px;
    border-radius: 100px;
}
/*Header*/

/*Body*/
#user_profile{
    position: absolute;
    width: 391px;
    height: 378px;
    left: 200px;
    top: 350px;
    border-radius: 189px;
}

h1{
    position: absolute;
    width: 1100px;
    height: 121px;
    left: 17%;
    top: 130px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 142px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #1AD9A3;
}

form{
    position: absolute;
    width: 1068px;
    height: 528px;
    left: 18%;
    top: 375px;
}

#data{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

#paciente{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

#medico{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.situacao {
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: -0.015em;
    color: #000000;
}

div{
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #3587F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 0.25em;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    position: absolute; 
    margin-left: 700px;
    top: 240px;
    width: 368px;
    height: 185px;
}

input[type="radio"] {
    margin-top: 20px;
    box-sizing: border-box;
    float: left;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    padding-left: 0.25em;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    position: absolute; 
    margin-left: 700px;
    width: 368px;
    height: 56px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #3587F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    height: 56px;
    width: 200px;
    margin-top: 175px;
    margin-left: 784px;
    background: #1AD9A3;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
}

button:hover{
    background-color: #1AD9A3;
    opacity: 0.7;
    text-shadow: none;
}
/*Body*/